<div class="container my-4">
    <h3>{{ title }}</h3>
    <button class="btn btn-primary" (click)="setOpen()">
        {{ open ? 'Close' : 'Create User' }}
    </button>
    <div class="row">
        @if (open) {
            <div class="col">
                <user-form (userEventEmitter)="addUser($event)" [user]="userSelected"></user-form>
            </div>
        } @else {
            <div class="col">
                <user-list [users]="users" 
                    (removeUserEventEmmiter)="onRemoveUser($event)" 
                    (selectedUserEventEmmiter)="selectedUser($event)"></user-list>
            </div>
        }
    </div>
</div>
