<div class="container my-4">
    <h3>{{ title }}</h3>
    <button class="btn btn-primary" (click)="setOpen()">
        {{ open ? 'Close' : 'Create User' }}
    </button>
    <div class="row">

        
        <div class="col">
            <user-list [users]="users" 
            (removeUserEventEmmiter)="onRemoveUser($event)" 
            (selectedUserEventEmmiter)="selectedUser($event)"></user-list>
        </div>
        
    </div>
</div>

@if (open) {
    <div class="open-modal animation fadeIn">
        <user-form (userEventEmitter)="addUser($event)" [user]="userSelected" (openEventEmitter)="setOpen()"></user-form>
    </div>
}
