<div class="container">
  <div class="card my-3">
    <div class="card-header">
      <h2>Invoice Example</h2>
    </div>
    <div class="card-body">
      <app-invoice-view
        [id]="invoice.id"
        [name]="invoice.name"
      ></app-invoice-view>

      <div class="row my-3">
        <div class="col">
          <app-client-view [client]="invoice.client" />
        </div>

        <div class="col">
          <app-company-view [company]="invoice.company" />
        </div>
      </div>

      <app-detail-view [items]="invoice.items" (removeEventEmitter)="remove($event)" />

      <app-total-view [total]="invoice.total" />

      <app-form-item-view />
    </div>
  </div>
</div>
