<form (ngSubmit)="onSubmit()">
  <div>
    <input
      placeholder="Name"
      name="name"
      [(ngModel)]="user.name"
      class="form-control my-2"
    />
  </div>
  <div>
    <input
      placeholder="Lastname"
      name="lastname"
      [(ngModel)]="user.lastname"
      class="form-control my-2"
    />
  </div>
  <div>
    <input
      placeholder="Email"
      name="email"
      [(ngModel)]="user.email"
      class="form-control my-2"
    />
  </div>
  <div>
    <input
      placeholder="Username"
      name="username"
      [(ngModel)]="user.username"
      class="form-control my-2"
    />
  </div>
  <div>
    <input
      type="password"
      name="password"
      [(ngModel)]="user.password"
      class="form-control my-2"
    />
  </div>

  <div>
    <button class="btn btn-primary my-2">Create</button>
  </div>
</form>
