<h2>Cart</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of items; track $index) {
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price * item.quantity }}</td>
                <td><button class="btn btn-danger btn-sm" (click)="removeFromCart(item.product.id)">Remove</button></td>
            </tr>
        }
    </tbody>
</table>